<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>PBL PROJECTS</title>
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;

    }

    body {
      background: gainsboro;
    }

    .row {
      background-color: white;
      border-radius: 20px;
    }

    img {
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;

    }

    .btn1 {
      border: none;
      outline: none;
      height: 50px;
      width: 100%;
      background-color: black;
      color: white;
      border-radius: 4px;
      font-weight: bold;
      transition: all .5s ease-in-out;
    }

    .btn1:hover {
      background-color: white;
      border: 1px solid;
      color: black;
      border-radius: 2px;
    }
  </style>
</head>
{% for i in messages %}
{% if i.tags == 'error' %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> {{i}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% else %}
<div class="alert alert-{{i.tags}} alert-dismissible fade show" role="alert">
  <strong>{{i.tags}}!</strong> {{i}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Find Out here</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link " aria-current="page" href="PBL.html">Home</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Lost Items
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Electronic Gadgets</a></li>
              <li><a class="dropdown-item" href="#">Vehicles</a></li>

              <li><a class="dropdown-item" href="#">Personal Documents</a></li>
              <li><a class="dropdown-item" href="#">Other Items</a></li>
            </ul>
          </li> -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Found Items
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Electronic Gadgets</a></li>
              <li><a class="dropdown-item" href="#">Vehicles</a></li>

              <li><a class="dropdown-item" href="#">Personal Documents</a></li>
              <li><a class="dropdown-item" href="#">Other Items</a></li>
            </ul>
          </li> -->

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <section class="Form my-4 mx-5">
    <div class="container ">

      <div class="row  g-0">
        <div class="col-lg-5">
          <img src="https://source.unsplash.com/random/1000x1600/?found written" class="img-fluid" alt="">
        </div>
        <div class="col-lg-7 px-5 pt-5">
          <h1 class="font-weight-bold py-3">
            Find out here
          </h1>
          <h4>Register your account</h4>
          <form action="{% url 'register' %}" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="form-row">

              <div class="col-lg-7">
                <input type="text" name="fname" placeholder="First Name" class="form-control  my-4 p-3">

              </div>
            </div>
            <div class="form-row">

              <div class="col-lg-7">
                <input type="text" name="lname" placeholder="Last Name" class="form-control  my-4 p-3">

              </div>
            </div>
            <div class="form-row">

              <div class="col-lg-7">
                <input type="email" name="email" placeholder="Email Address" class="form-control  my-4 p-3">

              </div>
            </div>
            <div class="form-row">

              <div class="col-lg-7">
                <input type="text" name="uname" placeholder="Username" class="form-control my-3 p-3">
              </div>
            </div>

            <div class="form-row">

              <div class="col-lg-7">
                <input type="password" name="password" placeholder="Password" class="form-control  my-4 p-3">

              </div>
            </div>
            <div class="form-row">

              <div class="col-lg-7">
                <button type="submit" class="btn1 mt-3 mb-3">Register</button>

              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </section>